* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.robots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head,
.left_arm,
.right_arm,
.left_leg,
.right_leg,
.torso {
    background-color: rgb(18, 187, 131);
}

.head{
    width: 200px;
    height: 150px;
    margin: 0 auto;
    border-radius: 200px 200px  0 0;
    margin-bottom: 10px;
}

.eyes {
    display: flex;
}

.head:hover{
    width: 300px;
    transition: 1s ease-in-out;
}

.left_eye, .right_eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.left_eye {
    position: relative;
    top:100px;
    left: 40px;
}

.right_eye {
    position: relative;
    top:100px;
    left: 120px;
}

.upper_body{
    width: 300px;
    height: 150px;
    display: flex;
}

.left_arm, .right_arm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
}

.left_arm {
    margin-right: 10px;
}

.left_arm:hover {
    transform: rotate(20deg);
}

.right_arm {
    margin-left: 10px;
}

.right_arm:hover {
    transform: rotate(-20deg);
}

.torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
}

.lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.left_leg, .right_leg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
}

.left_leg {
    margin-left: 45px;
}

.left_leg:hover{
    transform: rotate(20deg);
}

.right_leg {
    margin-left:30px;
}

.right_leg:hover{
    transform: rotate(-20deg);
}